/*
!/addons/
/addons/*
!/addons/3d_escape
!/addons/atlaschat
!/addons/bodygroupr-master
!/addons/cigarette_factory
!/addons/climb_swep_2
!/addons/customhq_realprinters
!/addons/dans-weapon-shelves-sell-weapons-the-right-way
!/addons/darkrpmodification-master
!/addons/disguise
!/addons/gbrp
!/addons/npc_dinformation__guide_1247223957
!/addons/gmod_legs_3
!/addons/rogue scoreboard v1.0.12
!/addons/guard_squid_game
!/addons/gundealer
!/addons/health_based_post_processing_3
!/addons/meth
!/addons/playermodels
!/addons/project_aero
!/addons/simple_looting_system
!/addons/the_cocaine_factory
!/addons/vieetarmure
!/addons/wcd
!/data/
/data/*
!/data/arccw_presets
!/data/ulib
!/data/ulx
!/data/wcd
!/data/wepholster
data/arccw_presets/*
data/ulib/users.txt